gradio==4.44.1

gradio-client==1.3.0

opencv-python-headless
langchain
langchain-google-genai
langgraph
groq
python-dotenv
pydub
gtts
SpeechRecognition
google-generativeai
ffmpeg-python
numpy
requests
sounddevice

